@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 36px;
}

body {
  max-width: 1440px;
  margin: auto;
  background-color: rgba(226, 212, 212, 0.664);
}

main {
  background-color: rgba(150, 109, 189, 0.753);
  color: rgba(255, 255, 255, 0.808);
}

h1 {
  font-weight: 700;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: right;
}

h2 {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

nav ul {
  margin: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding-right: 0.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

footer {
  color: #fff;
  background-color: rgba(44, 37, 37, 0.842);
  font-size: 0.67rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header {
  color: #fff;
  background-color: rgba(44, 37, 37, 0.842);
  font-size: 0.67rem;
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero h1 {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

#contact-me h2 {
  margin: 0;
  text-align: center;
}

form {
  padding: 0 15%;
  display: grid;
  grid-template-columns: auto;
}

input,
textarea {
  font-size: 1rem;
}

button {
  font-size: 0.75rem;
  padding: 0.25rem 5%;
  margin: 0.25rem;
}

form > div {
  display: flex;
  justify-content: center;
}

#portfolio-section {
  position: relative;
}

#portfolio-section img {
  width: 100%;
}

#portfolio-section > div {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
#portfolio-section > div > h2 {
  color: #fff;
  margin: 0;
}

#portfolio-section > div > a {
  color: #d8b33c;
  font-size: 2rem;
  margin: 0;
}

#my-story {
  padding-left: 15%;
  padding-right: 15%;
}

#portfolio-main {
  margin-top: 0.06rem;
  margin-bottom: 0.06rem;
}

.highlight {
  display: flex;
  align-items: center;
  text-align: center;
}

.highlight a {
  font-size: 2rem;
  color: #d8b33c;
}

.highlight > div {
  flex-grow: 1;
}

.highlight > div {
  text-align: left;
  padding-left: 3rem;
}

/* #highlight-title {
  text-align: left;
} */

.highlight > img {
  max-width: 50%;
}

.highlight.invert {
  flex-direction: row-reverse;
}

#work-item-header {
  margin: 0;
  padding-left: 1rem;
  text-align: left;
}

#work-item-image {
  width: 100%;
  margin-bottom: 1rem;
}

.work-item-text {
  padding: 0 15%;
}

.work-item-text h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.work-item-text p,
.work-item-text ul {
  margin-top: 0;
}

/* small phone */
@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #portfolio-section > div > a {
    font-size: 1rem;
  }

  .highlight a {
    font-size: 1.5rem;
  }
}

/* small tablet */
@media screen and (min-width: 601px) and (max-width: 767px) {
  html {
    font-size: 24px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #portfolio-section > div > a {
    font-size: 1rem;
  }

  .highlight a {
    font-size: 1.5rem;
  }
}

/* tablet size */
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 24px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #portfolio-section > div > a {
    font-size: 1.5rem;
  }

  .highlight a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 32px;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #portfolio-section > div > a {
    font-size: 1rem;
  }

  .highlight a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 Im !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page {
    margin: 1in;
    size: a4 portrait;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
  }

  a[href]::after {
    content: '(' attr(href) ')';
  }

  header,
  footer {
    display: none;
  }

  #work-item-image {
    max-height: 300px;
    width: auto;
  }
}
